<!DOCTYPE html>
<html>
<head>

  <meta charset="utf-8">
  <title>Thermostat</title>

</head>

<body>

  <center>

    <h1>Thermostat</h1>

    <div>
      
      <h1 id = 'temp'></h1>
      <h1 id = 'psm'>PSM On</h1>
      <button id = 'up'> + </button><br>
      <button id = 'down'> - </button><br>
      <button id = 'psm-btn'>Turn Off Powersaving</button><br>
      <button id = 'reset'> Reset </button><br>
      <select id="city">
        <option disabled selected>Please choose a city:</option>
        <option value="London">London</option>
        <option value="Manchester">Manchester</option>
        <option value="Liverpool">Liverpool</option>
      </select>
      <h1 id = 'current-temp'></h1>

    </div>

  </center>

  <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
  <script src="../src/Thermostat.js"></script>
  <script src="../src/ThermostatJquery.js"></script>

</body>

</html>