<!DOCTYPE html>
<html>
<head>

  <meta charset="utf-8">
  <title>Thermostat</title>

  <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
  <link href="https://fonts.googleapis.com/css?family=Iceberg&display=swap" rel="stylesheet">
</head>

<body id='main'>

  <center>

    <div id = 'content'>

      <h1>ThermostatinatorBotFace McThermostatFace</h1>

      <div id = 'console'>
        
        <div id = 'progressbar'>
          <div id = 'in-progressbar'></div>
        </div>
        <h1 id = 'temp'></h1>
        <h1 id = 'psm'>Power Saving On</h1>
        <div id = 'controls'>
          <button id = 'down' class = 'sml-btn'>-</button>
          <button id = 'up' class = 'sml-btn'>+</button><br>
          <button id = 'psm-btn' class ='big-btn'>Turn Off Powersaving</button><br>
          <button id = 'reset' class = 'big-btn'> Reset </button><br>
          
        </div>
          <form method="post" action="/city">
            <select id="city" class = 'big-btn' name = 'city'>
              <option disabled selected>Please choose a city:</option>
              <option value="London">London</option>
              <option value="Manchester">Manchester</option>
              <option value="Liverpool">Liverpool</option>
              <option value="Birmingham">Birmingham</option>
            </select>
          </form>
          <h2 id = 'current-temp'> <%= @city %> </h2>
      </div>

      

    </div>

  </center>

  <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
  <script src="/lib/thermostat.js"></script>
  <script src="/lib/ThermostatJquery.js"></script>

</body>

</html>