<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Thermostat</title>

  <script src="/Users/student/Makers/week5/Thermostat/src/Thermostat.js"></script>

</head>

<body>

  <center>

    <h1>Thermostat</h1>

    <div>

      <p id = 'usage colour'>black</p>
      <h1 id = 'temp'>20</h1>
      <button id = 'up'> + </button><br>
      <button id = 'down'> - </button><br>
      <button id = 'powerSaver'>Turn Off</button><br>
      <button id = 'reset'> Reset </button>


    </div>

  </center>

</body>

</html>